body{
	margin:0;
	padding:0;
}
.prof{
	background-image: url('../images/prof.jpg');
	background-width: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.wanting{
	background-image: url('../images/wanting.jpg');
	background-width: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.fadeaway{
	background-image: url('../images/fadeaway.jpg');
	background-width: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.washington{
	background-image: url('../images/washington.jpg');
	background-width: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.arthur{
	background-image: url('../images/arthur.gif');
	background-width: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.arkc{
	background-image: url('../images/arkc.jpg');
	background-width: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.benja{
	background-image: url('../images/0101.jpg');
	background-width: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.benja2{
	background-image: url('../images/1010.jpg');
	background-width: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.prof #main, .wanting #main, .fadeaway #main, .washington #main, .arthur #main, .arkc #main, .benja #main, .benja2 #main{
	opacity:0;
}
#pausebtn{
	position:absolute;
	top:5px;
	right:5px;
}
#pausebtn img{
	width:10px;
	height:auto;
}
#main{
	width:90%;
	max-width:980px;
	margin:auto;
}
img{
	height:auto;
	float:left;	
}
a im{
	transition: 0.4s ease-in-out;
}
a:hover img{
	opacity:0.6;
}
#top1{
	width:23.4%;
	animation: box-anim1 2.5s ease-out;
	-moz-animation: box-anim1 2.5s ease-out;
	-webkit-animation: box-anim1 2.5s ease-out;
}
#top2{
	width:27.2%;
	animation: box-anim2 2.5s ease-out;
	-moz-animation: box-anim2 2.5s ease-out;
	-webkit-animation: box-anim2 2.5s ease-out;
}
#top2:hover img{
	opacity:0.6;
}
#top3btm{
	width:49.4%;
	animation: box-anim4 3.5s ease-out;
	-moz-animation: box-anim4 3.5s ease-out;
	-webkit-animation: box-anim4 3.5s ease-out;
}
#top3tp{
	width:25.3%;
	animation: box-anim3 2.5s ease-out;
	-moz-animation: box-anim3 2.5s ease-out;
	-webkit-animation: box-anim3 2.5s ease-out;
}
#top3tprght{
	width:24%;
	animation: box-anim4 3.5s ease-out;
	-moz-animation: box-anim4 3.5s ease-out;
	-webkit-animation: box-anim4 3.5s ease-out;
}
#scnd, #thrd{
	clear:both;
}
#scnd1{
	width:30.5%;
	animation: box-anim1 2.5s ease-out;
	-moz-animation: box-anim1 2.5s ease-out;
	-webkit-animation: box-anim1 2.5s ease-out;
}
#scnd2{
	width:51.5%;
	display:inline-block;
	float:left;
	animation: box-anim3 2.5s ease-out;
	-moz-animation: box-anim3 2.5s ease-out;
	-webkit-animation: box-anim3 2.5s ease-out;
}
#scnd2 img, #thrd2 img, #thrd3 img, #frth2 img{
	width:100%;
}
#scnd3{
	width:18%;
	animation: box-anim2 2.5s ease-out;
	-moz-animation: box-anim2 2.5s ease-out;
	-webkit-animation: box-anim2 2.5s ease-out;
}
#thrd1{
	width:16.8%;
	animation: box-anim5 2.5s ease-out;
	-moz-animation: box-anim5 2.5s ease-out;
	-webkit-animation: box-anim5 2.5s ease-out;
}
#thrd2{
	width:48.4%;
	display:inline-block;
	float:left;
	animation: box-anim4 3.5s ease-out;
	-moz-animation: box-anim4 3.5s ease-out;
	-webkit-animation: box-anim4 3.5s ease-out;
}
#thrd3{
	width:34.8%;
	display:inline-block;
	float:left;
	animation: box-anim3 2.5s ease-out;
	-moz-animation: box-anim3 2.5s ease-out;
	-webkit-animation: box-anim3 2.5s ease-out;
}
#frth1{
	width:38.2%;
	animation: box-anim1 2.5s ease-out;
	-moz-animation: box-anim1 2.5s ease-out;
	-webkit-animation: box-anim1 2.5s ease-out;
}
#frth2{
	width:31.4%;
	display:inline-block;
	float:left;
	animation: box-anim4 3.5s ease-out;
	-moz-animation: box-anim4 3.5s ease-out;
	-webkit-animation: box-anim4 3.5s ease-out;
}
#frth3{
	width:30.4%;
	animation: box-anim3 2.5s ease-out;
	-moz-animation: box-anim3 2.5s ease-out;
	-webkit-animation: box-anim3 2.5s ease-out;
}
@keyframes box-anim1 {
	from {opacity: 0;}
	to {opacity: 1;}
}
@-moz-keyframes box-anim1 {
	from {opacity: 0;}
	to {opacity: 1;}
}
@-webkit-keyframes box-anim1 {
	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes box-anim2 {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes box-anim2 {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes box-anim2 {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes box-anim3 {
	0% {opacity: 0;}
	70% {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes box-anim3 {
	0% {opacity: 0;}
	70% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes box-anim3 {
	0% {opacity: 0;}
	70% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes box-anim4 {
	0% {opacity: 0;}
	80% {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes box-anim4 {
	0% {opacity: 0;}
	80% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes box-anim4 {
	0% {opacity: 0;}
	80% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes box-anim5 {
	0% {opacity: 0;}
	90% {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes box-anim5 {
	0% {opacity: 0;}
	90% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes box-anim5 {
	0% {opacity: 0;}
	90% {opacity: 0;}
	100% {opacity: 1;}
}
#email{
	clear:both;
	width:30px;
	display:inline-block;
}
#email img{
	width:100%;
	height:auto;
}
@media screen and (orientation: portrait) {
	#top1{
		width:36%;
	}
	#top2{
		width:44%;
		float:right;
	}
	#top3btm{
		width:90%;
	}
	#top3tp{
		width:40%;
	}
	#top3tprght{
		width:38%;
	}
	#scnd1{
		width:35%;
	}
	#scnd2{
		width:65%;
	}
	#scnd3{
		width:26%;
	}
	#thrd{
		clear:none;
	}
	#thrd1{
		width:22%;
	}
	#thrd2{
		width:50%;
	}
	#thrd3{
		width:45%;
	}
	#frth1{
		display:none;
	}
	#frth2{
		width:52%;
	}
	#frth3{
		display:none;
	}
}
