---
---

@import "{{ site.theme }}";


body {
  background-image:
      url("https://i.imgur.com/5mXLPDU.jpg");
  background-color: transparent;
}
link {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
