---
---

@import "{{ site.theme }}";

body {
  background-image:
      url("https://i.imgur.com/5mXLPDU.jpg");
  background-color: transparent;
}
link {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

hr {
    border: none; 
    height: 1px;
    color: #ddd; /* old IE */
    background-color: #ddd; /* Modern Browsers */
    margin-top: 50px;
}

a {
    color: pink;
    text-decoration: none;
}
code {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    padding-left: 25px;
    /*border-left: 2px solid #ccc;*/
    border-left: 5px solid #eee;
}

blockquote {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    padding-left: 25px;
    /*border-left: 2px solid #ccc;*/
    border-left: 5px solid #eee;
} 
